<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="EventHubNamespace" value="[YourEventHubNamespace]"/>
  <add key="EventHubPath" value="[YourEventHubName]"/>
  <add key="EventHubSasKeyName" value="[YourSasKeyName]"/>
  <add key="EventHubSasKey" value="[YourEventHubSasKey]"/>

</appSettings>
